{
  "extends": ["stylelint-config-prettier", "stylelint-config-htmlacademy", "stylelint-config-idiomatic-order"]

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
